@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600&display=swap');

:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lgrey: hsl(217, 12%, 63%);
    --mgrey: hsl(216, 12%, 54%);
    --dblue: hsl(213, 19%, 18%);
    --vdblue: hsl(216, 12%, 8%);
    --dgrey: #363d47;
    --black: #141519;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Overpass', serif;
    background: var(--black);
}

.card{
    background: var(--dblue);
    width: 350px;
    margin: 50px auto;
    padding: 30px 25px;
    border-radius: 20px;
}

.star{ /*star icon*/
    background: var(--dgrey);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.star img{ /*star icon*/
    height: 15px;
}

/*card content*/
.card h1{
    color: var(--white);
    font-size: 30px;
}

.card p{
    color: var(--mgrey);
    font-size: 15px;
}

.score{
    display: flex;
    justify-content: space-between;
    margin-top: 30px
}

.score p{ /*numbers*/
    background: var(--dgrey);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.score p:hover{
    background: var(--orange);
    color: var(--white);
}

.score .active{
    background: var(--lgrey);
    color: var(--white)
}

.rating button{
    font-family: 'Overpass', serif;
    font-weight: 600;
    letter-spacing: 3px;
    width: 100%;
    background: var(--orange);
    border: none;
    border-radius: 20px;
    padding: 10px 0;
    color: var(--white);
    margin-top: 5px;
    cursor: pointer;
}

.rating button:hover{
    background: var(--white);
    color: var(--orange)
}

/* .rating{
    display: none;
    
} */

.feedback{
    text-align: center;
}

.feedback .thank-you{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.feedback .feedback-score{
    background: var(--dgrey);
    color: var(--orange);
    border-radius: 50px;
    margin: 0 50px;
    padding: 5px;
}

.feedback h1{
    margin: 30px 0 20px 0;
}



